<footer class="bg-purple-700">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">About</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Blog</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Jobs</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Press</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Privacy</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Terms</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-900">Contact</a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-900">
            &copy; 2025 Blogify, Inc. All rights reserved.
        </p>
    </div>
</footer>